name: build_and_test_epmt

on:
  push

# cancel running jobs if theres a newer push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build-linux:
    runs-on: ubuntu-latest

    #service:
    #  - postgres:latest

    container:
      image: rockylinux:8
      env:
        POSTGRES_DB: 'EPMT'
        POSTGRES_USER: 'postgres'
        POSTGRES_PASSWORD: 'example'
        PIP_CACHE_DIR: '$CI_PROJECT_DIR/.cache/pip'
      options: --privileged

    steps:
      - uses: actions/checkout@v4
      - name: yum install and update
        run: |
          yum update -y
          yum install -y findutils unzip bash tcsh nc curl file \
            make git gcc postgresql-devel zlib-devel bzip2 bzip2-devel \
            readline-devel sqlite-devel openssl-devel xz xz-devel libffi-devel \
            gcc-c++ gcc-gfortran tcl environment-modules perl bind-utils openssh-clients openssh-server

      - name: install and configure sqlite3
        run: |
          cd /usr/src
          echo 'downloading sqlite3'
          curl -o sqlite-amalgamation-3490100.zip https://www.sqlite.org/2025/sqlite-amalgamation-3490100.zip
          unzip sqlite-amalgamation-3490100.zip
          echo 'building libsqlite3 with json1 and other useful extensions'
          cd sqlite-amalgamation-3490100
          gcc -shared -fPIC -O2  -DSQLITE_ENABLE_JSON1 -DSQLITE_ENABLE_LOAD_EXTENSION -DSQLITE_MAX_VARIABLE_NUMBER=9999 sqlite3.c -o /usr/lib64/libsqlite3.so

      - name: install python3
        run: |
          cd /usr/src
          echo 'downloading python'
          curl -o Python-3.9.22.tgz https://www.python.org/ftp/python/3.9.22/Python-3.9.22.tgz
          tar xzf Python-3.9.22.tgz
          cd Python-3.9.22
          echo 'building python3'
          ./configure --quiet --prefix=/usr --enable-shared --enable-optimizations --enable-loadable-sqlite-extensions
          make --silent install > /dev/null

      - name: configure python3 and upgrade pip and grab gcc-c++
        run: |
          ldconfig
          python3 -V
          pip3 install --upgrade pip
          yum install -y gcc-c++

      - name: install requirements
        run: |
          pip3 install -r requirements.txt.py3

      - name: make dash tarball
        run: |
          make epmt-dash

      - name: make papiex tarball
        run: |
          make OUTSIDE_DOCKER='YUP' papiex-dist

      - name: make epmt pip-packaging
        run: |
          make dist python-dist dist-test

      - name: pip install epmt pip-package
        run: |
          ls src/dist/epmt*gz
          pip3 install src/dist/epmt*gz

      - name: create links to papiex executables, adjust path, install bats for integration tests
        run: |
          mkdir -p /usr/lib/python3.9/site-packages/papiex-epmt-install
          ln -s  /usr/lib/python3.9/site-packages/epmt/lib /usr/lib/python3.9/site-packages/papiex-epmt-install/
          ln -s  /usr/lib/python3.9/site-packages/epmt/bin /usr/lib/python3.9/site-packages/papiex-epmt-install/
          export PATH='/usr/bin:${PATH}:/usr/local/libexec:/usr/local/bin'
          /usr/lib/python3.9/site-packages/epmt/test/integration/libs/bats/install.sh /usr/local

      - name: epmt version call
        run: |
          epmt -v -V

      - name: epmt check call
        run: |
          echo 2 > /proc/sys/kernel/perf_event_paranoid
          epmt -vv check

      - name: pip install pytest specifically
        run: |
          pip install pytest pytest-cov coverage

      - name: test_anysh call
        run: |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_anysh.py
        env:
          COVERAGE_FILE: .coverage.anysh

      - name:  test_cmds call
        run:  |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_cmds.py
        env:
          COVERAGE_FILE: .coverage.cmds

      - name:  test_db_migration call
        run: |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_db_migration.py
        env:
          COVERAGE_FILE: .coverage.db_migration

      - name: test_db_schema call
        run: |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_db_schema.py
        env:
          COVERAGE_FILE: .coverage.db_schema

      - name: test_explore call
        run:  |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_explore.py
        env:
          COVERAGE_FILE: . coverage.explore

      - name: test_lib call
        run: |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_lib.py
        env:
          COVERAGE_FILE: .coverage.lib

      - name:  test_outliers call
        run:  |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_outliers.py
        env:
          COVERAGE_FILE: .coverage.outliers

      - name:  test_query call
        run: |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_query.py
        env:
          COVERAGE_FILE: .coverage.query

      - name: test_run call
        run: |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_run.py
        env:
          COVERAGE_FILE: .coverage.run

      - name: test_settings call
        run: |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_settings.py
        env:
          COVERAGE_FILE: .coverage.settings

      - name: test_shell call
        run:  |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_shell.py
        env:
          COVERAGE_FILE: .coverage.shell

      - name: test_stat call
        run: |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_stat.py
        env:
          COVERAGE_FILE: .coverage.stat

      - name:  test_submit call
        run: |
          TZ=UTC pytest -x -vv --cov=epmt --cov-report=term src/epmt/test/test_submit.py
        env:
          COVERAGE_FILE: .coverage.submit

      - name:  Combine coverage data and generate report
        continue-on-error:  true
        run: |
          ls -la .coverage.*
          coverage combine .coverage.*
          coverage xml -o coverage.xml
          coverage report --show-missing

      - name: Upload coverage to Codecov
        continue-on-error: true
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          flags: unittests
          name: epmt-coverage
          fail_ci_if_error: false
          verbose: true

      - name: epmt integration (GUARDED) call
        continue-on-error: true
        run: |
          epmt integration

      - name: install pylint
        run: |
          pip install pylint

      - name: run pylint on epmt module, ignoring ui (epmt-dash)
        run: |
          pylint --rcfile pylintrc --fail-under 6.1 --ignore-paths src/epmt/ui src/epmt

      - name: run pylint on ui submodule (epmt-dash)
        run: |
          pylint --rcfile pylintrc --fail-under 5.5 src/epmt/ui

      - name: run pylint on epmt entry-point script
        run: |
          pylint --rcfile pylintrc --fail-under 9.9 src/scripts/epmt

      - name: upload pip installable
        uses: actions/upload-artifact@v4
        with:
          name: epmt-pip-install-TEST
          path: src/dist/epmt-4.11.0.tar.gz
